.logo{
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px;
}

  text-align:center;
  background:#ffd6e7;
  padding:30px;

}

.logo{

  width:180px;

}

nav{

  background:white;
  padding:15px;
  text-align:center;

}

nav a{

  margin:10px;
  text-decoration:none;
  color:#d63384;
  font-weight:bold;

}

.banner img{

  width:100%;

}

.busca{

  text-align:center;
  margin:20px;

}

.busca input{

  width:80%;
  padding:12px;
  border-radius:10px;
  border:none;

}

.produtos{

  display:grid;
  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
  padding:20px;

}

.card{

  background:white;
  border-radius:15px;
  padding:20px;
  text-align:center;
  box-shadow:0 0 10px #ddd;

}

.card img{

  width:100%;
  border-radius:10px;

}

.card button{

  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#d63384;
  color:white;
  cursor:pointer;

}

.carrinho{

  background:white;
  margin:20px;
  padding:20px;
  border-radius:15px;

}

.finalizar{

  width:100%;
  padding:15px;
  background:#25D366;
  border:none;
  border-radius:10px;
  color:white;
  font-size:18px;

}
